/* Styling Only Related To ALL Pages */

body {
  padding-top: 30px;
  margin-left: 0px;
  margin-right: 0px;
  background-image:url("https://img.freepik.com/premium-vector/unicorn-background-with-rainbow-mesh_121461-546.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, sans-serif;
}
/* ⬆⬆⬆⬆ Nav Bar Styling 
~~~~~ Taken From: 
https://www.w3schools.com/css/css_navbar_horizontal.asp */
ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url("https://www.freevector.com/uploads/vector/preview/19200/6-06.jpg");
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

ul.nav li {
  float: left;
}

ul.nav li a {
  display: block;
  color: #ead6ff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.nav li a:hover:not(.active) {
  background-color: #e681e6;
}

ul.nav .active {
  background-color: #ed80df;
}

h1 {
  width: 100%;
  color:#24d3e0;
  background-color:#e9d9fb;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align:center;
}
