/* Styling Only Related To ALL Pages */

body {
  padding-top: 30px;
  margin-left: 0px;
  margin-right: 0px;
}
/* ⬆⬆⬆⬆ Nav Bar Styling 
~~~~~ Taken From: 
https://www.w3schools.com/css/css_navbar_horizontal.asp */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: yellow;
}

.active {
  background-color: red;
}

h1 {
  width: 100%;
}
